<center> 

		<div class="jumbotron">
		  <div class="container">

		  	<% if user_signed_in? %>


		  	<h1> Thanks for signing in, ya big eejit </h1>



		  	 <% else %> 


		    <h1>Welcome to my app. </h1>
		    <p>Sign up below!</p>
		    <p>

		    	<center>
		   <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary btn-lg" %>	
		 <%= link_to "Sign In", new_user_session_path, :class => "btn btn-default btn-lg" %>	
		    	</center>

		    </p>



		    <% end %>

		  </div>
		</div>
</center>


